/* Colors

#9722b6 - purple 
#fe5b35 - orange
#eb3d5f - pink (inbetween)


*/


@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-purple2: #9722b6;
  --color-orange2: #fe5b35;
  --color-pink2: #eb3d5f;
}


.moving-border {
  animation: moving-border 4s linear infinite;
}


@keyframes moving-border {
  0% {
    transform: rotate(0deg) scale(10);
  }
  100% {
    transform: rotate(-360deg) scale(10);
  }
}

@keyframes fall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}




